<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="University12.Properties.Settings.University_1234ConnectionString" connectionString="Data Source=.;Initial Catalog=&quot;University 1234&quot;;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
        <add name="University12.Properties.Settings.Universiti_1234ConnectionString" connectionString="Data Source=.;Initial Catalog=&quot;Universiti 1234&quot;;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="University12.Properties.Settings.University_1234ConnectionString1" connectionString="Data Source=.;Initial Catalog=&quot;University 1234&quot;;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
